In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('test')

In [8]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [9]:
df.to_csv('testout',index=False)

In [13]:
pf = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [16]:
pf.to_excel('Excel_Sample.xlsx',sheet_name='Shee1')

In [25]:
df = pd.read_html('https://www.isb.edu/pgp/learning-model/corecourses')

In [27]:
df[0]

,Course Title,Hyderabad,Mohali
0,"TERM 1: APRIL 23 - JUNE 03, 2018",NaN,NaN
1,FINANCIAL ACCOUNTING AND DECISION MAKING,"Shyam V Sunder, Eller School of Management, Un...","Partha Mohanram, Rotman School of Management, ..."
2,MANAGERIAL ECONOMICS,"Bruce Allen, The Wharton School, The Universit...","Chirantan Chatterjee, Indian School of Busines..."
3,MARKETING MANAGEMENT,"Srinivas K Reddy, Lee Kong Chian School of Bus...","Rajdeep Grewal, Kenan-Flagler Business School,..."
4,STATISTICAL METHODS FOR MANAGEMENT DECISIONS,"V Nagadevara, IIM, BangaloreSarang Deo, ISBSub...","Richard Waterman, The Wharton School, Universi..."
5,"TERM-2: JUNE 04 - JULY 15, 2018​",NaN,NaN
6,BUSINESS COMMUNICATION,"Kanishka Sinha, Stillwater ConsultingGirish Ma...","Girish Manimaran, Stillwater Consulting"
7,COMPETITIVE STRATEGY,"Jaya Dixit, ISBBalaji Koka, Jesse H. Jones Gra...","Snehal Awate, Indian School of BusinessJay Ana..."
8,DECISION MODELS AND OPTIMISATION,"Achal Bassamboo, Kellogg School of Management,...","Anjani Jain, Yale School of Management, Yale U..."
9,GLOBAL ECONOMICS,"Christopher House, LSA- College of Literature,...","Megha Patnaik, Indian Statistical InstituteKri..."
10,MARKETING DECISION MAKING,"Pradeep Bhardwaj, College of Business Administ...","Ashish Sood, A. Gary Anderson Graduate School ..."
11,"TERM 3: JULY 167 - AUGUST 26, 2018​",NaN,NaN
12,CORPORATE FINANCE I,"Prachi Deuskar, ISBBhagwan Chowdhary, Anderson...","Vaidyanathan K, ISBShashwat Alok, ISB"
13,MANAGERIAL ACCOUNTING AND DECISION MAKING,"Shiva Sivaramakrishnan, Jesse H. Jones Graduat...","Nandu Nagarajan, College of Business, Universi..."
14,MANAGEMENT OF ORGANIZATIONS,"Marko Pitesa, Lee Kong Chian School of Busines...","Prasad Balkundi, University of BuffaloJames Sc..."
15,OPERATIONS MANAGEMENT,"Ravi Subramanian, Scheller College of Business...","Saravanan Kesavan, Kenan Flagler Business Scho..."
16,RESPONSIBLE LEADERSHIP,"Sreedhari Desai, Kenan-Flagler Business School...",TBD
17,LEADERSHIP DEVELOPMENT,"Sushanta Kumar Mishra, Indian Institute of Man...","E S Srinivas, XLRI, Jamshedpur Jitendera Singh..."
18,"TERM 4: AUGUST 27 - SEPTEMBER 30, 2​018 (CORE ...",NaN,NaN
19,CORPORATE FINANCE II,"Nitin Kumar, ISBRamana Sonti, ISBPrachi Deuska...","Ramabhadran Thirumalai, ISB Vaidyanathan K, ISB"
20,STRATEGIES FOR THE DIGITAL ECONOMY,"Deepa Mani, ISBGal Oestreicher-Singer, Coller ...","Ravi Bapna, Carlson School of Management- Univ..."

In [28]:
from sqlalchemy import create_engine